<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry <%= @user.full_name %>,</h1>
    <p>Your account has been deleted due to the fact that you're a cotton headed ninny-muggin</p>
  </body>
</html>