<h1>Movies, Reviews, and Users oh my!</h1>

<div id="container">
<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<h3>Search For A Movie</h3>

<%= render 'search' %>

<hr>

<%= render 'movie' %>
</div>